@use "mixins/colors.module";
@use "mixins/measures";

.control-item,
.control-label {
  &, * {
    align-self: center;
    align-content: normal;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }
}
.control-item {
  display: inline-grid;
  grid-auto-flow: row;
  grid-auto-columns: 100%;
  select, input {
    display: inline-grid;
  }
}

.loading-control {
  cursor: wait;

  & * {
    pointer-events: none !important;
  }
}

#bottom-controls .control-item .fas {
  font-size: measures.$cycleSelect-size;
}

#bottom-controls [nexus-ui] {
  & {
    width: 100% !important;
    height: 100% !important;
  }
  select {
    width: max-content !important;
    height: max-content !important;
  }
}

#bottom-controls > *.gridspan {
  border: thin dotted rgba($color: #ffff, $alpha: 0.05);
}

#bottom-controls, #configuration-selection {
  [nexus-ui] {
    display: inline-grid;
    * {
      border-radius: 5em;
    }

    select,
    input {
      text-align: center;
      font-size: min(7vh, 7vw, 15px) !important;
      // display: inline-grid;
      max-width: 85%;
    }
    select {
      vertical-align: middle;
      top: 50%;
      padding: min(0.5vmin, 0.5em);
    }
    input {
      height: min(25px, 10vh) !important;
      width: min(4ch, 10vw) !important;
    }
  }
}

.control-item {
  font-size: calc(min(10px + 0.5vw, 1em)) !important;
  font-weight: 500;
}

.control-label {
  overflow: hidden;
  white-space: nowrap;
}

.control-label, .disabled-gridspan {
  font-weight: 400;
  // font-size: calc(min(10px + 1vw, 1.1em));
}

#bottom-controls {
  font-size: calc(1.5 * min(10px + 1vw, 1.1em));
  * {
    font-size: smaller;
  }
}

.control-item::after {
  font-weight: 400;
  font-size: 1em;
}

#instruments-control-gridspan {
  grid-row: 1;
  grid-column: 3;
}

#instruments-grid {
  grid-auto-flow: column;
  .main-instrument-select {
    grid-column: 1;
    &::after {
      content: "Lead"
    }
  }
  .chords-instrument-select {
    grid-column: 2;
    &::after {
      content: "Chords"
    }
  }
  .instrument-samples-download {
    &::after {
      content: "Load samplers"
    }
    &.loading-control {
      &::after {
        content: "Loading..."
      }
    }
  }
}

.gridspan {
  position: relative;
  width: 100%;
  height: 100%;
}

#playback-commands-gridspan {
  grid-row: 1;
  grid-column: 1;
}

#bpm-control-gridspan {
  grid-row: 1;
  grid-column: 4;
}

#download-button-gridspan {
  grid-row: 2;
  grid-column: 1;
}

#constraints-gridspan {
  grid-row: 1;
  grid-column: 3/5;
}

#constraints-container {
  grid-template-columns: 50%;
}

#pitch-control-octave-control input {
  width: max(3ch, 5em) !important;
}

#edit-tools-gridspan {
  grid-row: 1;
  grid-column: 2/3;
}

#midi-input-setup-gridspan {
  grid-row: 2;
  grid-column: 3/5;
}

#midi-output-setup-gridspan {
  grid-row: 2;
  grid-column: 3/4;
  .gridspan {
    grid-template-columns: 85% 15%;
  }
}

#midi-input-setup-gridspan, #midi-output-setup-gridspan {
  &.midi-enabled .control-item {
    select, input, svg {
      filter: invert(1);
    }
  }
}

#mixing-controls-gridspan {
  grid-row: 2;
  grid-column: 2;
}

#ableton-link-settings-gridspan {
  grid-row: 2;
  grid-column: 4/5;
}

.gridspan {
  align-items: center;
  justify-items: center;

  display: inline-grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.5fr 1fr;
  grid-auto-flow: column;

  .control-label,
  .control-item {
    flex-basis: auto;
  }
  .gridspan {
    grid-template-columns: auto;
    grid-auto-columns: auto;
  }
}

.multi-column-gridspan {
  grid-template-rows: 1fr;
}

// used to display an error message in place of controls,
// e.g. in case of missing Web MIDI API support
// TODO(theis, 2021_04_21): could replace this with actually rendering
// the associated controls, but graying them out/visibly disabling them,
// and offering more info through an info-bubble (with touchscreen support)
.disabled-gridspan {
  display: flex;
  color: gray;
  justify-content: center;
}

@media screen and (max-width: 450px) {
  #pitch-control-container, #volume-controls-container {
    grid-template-rows: auto;
    grid-auto-flow: row;
    * {
      max-width: 95%
    }
  }
  #midi-input-setup-container {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    #midi-input-device-select-container {
      grid-column: 1/3;
    }
  }
}
@media screen and (max-width: 450px) and (min-width: 270px) {
  #pitch-control-container {
    grid-template-columns: 2fr 1fr;
    row-gap: 5%;
  }
  #midi-input-setup-container {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr 1fr;
    #midi-input-device-select-container {
      grid-column: 2/4;
    }
    #midi-input-channel-input-container {
      grid-column: 2;
    }
  }
}
@media screen and (max-width: 270px) {
  #bottom-controls {
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5vh;
  }
  .gridspan {
    grid-template-rows: 1fr;
    padding: 0.25vh 0;
  }
  body.advanced-controls-disabled #bottom-controls {
    grid-template-rows: 1fr;
  }
  .control-label {
    display: none !important;
  }
  #instruments-grid {
    *::after {
      display: none !important;
    }
  }
}

#download-button-interface, #load-samples-button-interface {
  cursor: pointer;
}
