@use "mixins/colors";
@use "mixins/measures";

$main-filter: drop-shadow(0px 0px 1.3px rgba(0, 0, 0, 0.3));

control-item {
    filter: $main-filter;
}

.fas {
    font-size: measures.$CycleSelect-size;
}

#bottom-controls [nexus-ui] {
    & * {
        border-radius: 4px !important;
    }

    width: unset !important;
    height: unset !important;

    select, input {
        text-align: center;
        font-size: min(7vh, 7vw, 15px) !important;
    }
    select {
        display: inline-flex;
        vertical-align: middle;
        top: 50%;
        height: max(1em, min(40px, 8vh, 7vw)) !important;
        width: min(110px, 20vw) !important;
    }
    input {
        height: min(25px, 10vh) !important;
        width: min(18vw, 45px) !important;
    }
}

control-item:hover {
    filter: brightness(1.03) $main-filter;
}

control-item * {
    color: colors.$idle-control;
}

control-item {
    font-size: calc(min(10px + 0.5vw, 1em)) !important;
    font-weight: 500;
}

control-label {
    font-weight: 400;

    font-size: calc(min(10px + 1vw, 1.1em));
}

#play-button {
    grid-row: 1;
    grid-column: 1;

    & > .playing {
        color: colors.$active-control;
    }

    & > .stopped {
        color: colors.$idle-control;
    }

}

#play-button-label {
    grid-row: 2;
    grid-column: 1;
}

#granularity-select-container, #edit-tool-select-container {
    grid-row: 1;
    grid-column: 2;
}

#granularity-select-label, #edit-tool-select-label {
    grid-row: 2;
    grid-column: 2;
}

#instruments-grid {
    grid-row: 1;
    grid-column: 3;
}

#instruments-grid-label {
    grid-row: 2;
    grid-column: 3;
}

#bpm-control, #pitch-control {
    grid-row: 1;
    grid-column: 4;
}

#bpm-control-label, #pitch-control-label {
    grid-row: 2;
    grid-column: 4;
}

#instrument-control {
    grid-row: 1;
    grid-column: 3;
}

#instrument-control-label {
    grid-row: 2;
    grid-column: 3;
}

.gridspan {
    // visibility: hidden;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

#play-button-gridspan {
    grid-row: 1/3;
    grid-column: 1/2;
}

#download-button-gridspan {
    grid-row: 3/5;
    grid-column: 1/2;
}

#download-button-label {
    grid-row: 4;
    grid-column: 1;
}

#constraints-gridspan {
    grid-row: 1/3;
    grid-column: 3/5;
}

#edit-tools-gridspan {
    grid-row: 1/3;
    grid-column: 2/3;
}

#link-button {
    grid-row: 3;
    grid-column: 1;
}

#sync-button {
    grid-row: 3;
    grid-column: 4;
}

#link-display {
    grid-row: 3;
    grid-column: 2;
}

#select-midiout {
    grid-row: 3;
    grid-column: 3;
}

#download-button {
    grid-row: 3;
    grid-column: 3;
}

#fade-in-control {
    grid-row: 3;
    grid-column: 4;
}

#fade-in-control-gridspan {
    grid-row: 3/5;
    grid-column: 4;
}

#fade-in-control-label {
    grid-row: 4;
    grid-column: 4;
}