@use "mixins/colors.module";
@use "mixins/measures";

.control-item,
.control-label {
  align-self: center;
  align-content: normal;
  align-items: center;

  height: max-content;
  width: max-content;
}
.control-item {
  cursor: pointer;
}

.fas {
  font-size: measures.$CycleSelect-size;
}

#bottom-controls [nexus-ui] {
  * {
    border-radius: 4px !important;
  }

  width: max-content !important;
  height: max-content !important;

  select,
  input {
    text-align: center;
    font-size: min(7vh, 7vw, 15px) !important;
  }
  select {
    display: inline-flex;
    vertical-align: middle;
    top: 50%;
    height: max(1em, min(40px, 8vh, 7vw)) !important;
    min-height: max-content;
    max-width: max-content;
    width: 20vw !important;
  }
  input {
    height: min(25px, 10vh) !important;
    width: min(18vw, 45px) !important;
  }
}

.control-item {
  font-size: calc(min(10px + 0.5vw, 1em)) !important;
  font-weight: 500;
}

.control-label, .disabled-gridspan {
  font-weight: 400;
  font-size: calc(min(10px + 1vw, 1.1em));
}

#granularity-select-container,
#edit-tool-select-container {
  grid-row: 1;
  grid-column: 2;
}

#granularity-select-label,
#edit-tool-select-label {
  grid-row: 2;
  grid-column: 2;
}

#instruments-grid {
  grid-row: 1;
  grid-column: 3;
}

#instruments-grid-label {
  grid-row: 2;
  grid-column: 3;
}

#bpm-control {
  grid-row: 1;
  grid-column: 4;
}

#bpm-control-label {
  grid-row: 2;
  grid-column: 4;
}

.gridspan {
  position: absolute;
  width: 100%;
  height: 100%;

  .gridspan {
    position: relative;
  }
}

#playback-commands-gridspan {
  grid-row: 1/3;
  grid-column: 1/1;
}

#download-button-gridspan {
  grid-row: 3/5;
  grid-column: 1/2;
}

#constraints-gridspan {
  grid-row: 1/3;
  grid-column: 3/5;
}

#edit-tools-gridspan {
  grid-row: 1/3;
  grid-column: 2/3;
}

#midi-input-setup-gridspan, #midi-output-setup-gridspan {
  grid-row: 3/5;
  grid-column: 3/3;
}

#volume-controls-gridspan {
  grid-row: 3/5;
  grid-column: 4;
}

#ableton-link-settings-gridspan {
  grid-row: 3/5;
  grid-column: 4;
}

.gridspan {
  align-items: center;
  justify-items: center;

  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: 2.5fr 1fr;
  grid-auto-flow: column;

  .control-label,
  .control-item {
    flex-basis: auto;
  }
}

#pitch-control-root-select {
  width: 40px !important;
}

.multi-column-gridspan {
  grid-template-rows: 1fr;
}

// used to display an error message in place of controls,
// e.g. in case of missing Web MIDI API support
// TODO(theis, 2021_04_21): could replace this with actually rendering
// the associated controls, but graying them out/visibly disabling them,
// and offering more info through an info-bubble (with touchscreen support)
.disabled-gridspan {
  display: flex;
  color: gray;
  justify-content: center;
}
