@use "mixins/measures";
@use "mixins/colors.module";
// Styling for the icon-based select element

.cycleSelect {
  position: relative;
  width: measures.$cycleSelect-size;
  height: measures.$cycleSelect-size;
  border-radius: 100%;
  border-style: solid;
  border-width: clamp(2px, min(0.3vw, 0.2vh), 3.5px);
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  select {
    display: none;
  }

  &.pulsing {
    transform: scale(1);
    animation: 0.6s pulse ease-in-out 2 alternate;
  }

  &.cycleSelect-disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;

    color: rgba(0, 0, 0, 0.8);
    // display cross-out line
    &::after {
      content: '';
      position: absolute;
      bottom: 6px;
      left: 5px;
      border-top-width: thick;
      border-top-style: solid;
      width: 100%;
      transform: rotate(-45deg);
      transform-origin: 0% 0%;
    }

    & img {
      filter: grayscale(100%) contrast(60%);
    }
  }
}

.cycleSelect  img {
  position: absolute;
  align-self: center;

  width: 70%;

  visibility: hidden;
  display: none;

  &.cycleSelect-currentValue {
    display: initial;
    visibility: visible;
  }
}


@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0;
	}

	100% {
		transform: scale(1.5);
		box-shadow: 0 0 0 0 6px rgba(0, 0, 0, 0);
	}
}
