// https://github.com/hisasann/electron-various-tutorials/tree/master/electron-hide-mouse-cursor

body, body * {
    cursor: none!important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::selection { background: transparent; }
body::-moz-selection { background: transparent; }
