// TODO(theis, 2020/12/10): check/clean-up usage of .advanced class
// children nodes should inherit the appropriate behaviour from their container
// and note require setting the class on all nodes

@use "mixins/colors.module";
@use "mixins/measures";
@use "mixins/fonts";
@use 'sass:color';

html,
body {
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  overflow: hidden;
}

body.splash-screen {
  -webkit-app-region: drag;
  #configuration-selection {
    -webkit-app-region: no-drag;
  }
}

input {
  border: none;
  outline: none;
}

// default theme, also used on the splash-screen
@include colors.theme-colors(lavender-dark);

body.running {
  &[theme='millenial-pink'] {
    @include colors.theme-colors(millenial-pink);
  }
  &[theme='lavender-dark'] {
    @include colors.theme-colors(lavender-dark);
    &[theme='lavender-light'] {
      @include colors.theme-colors(lavender-light);
    }
  }
}

body {
  font-family: fonts.$interface-font-stack;

  // disable blue box over objects on touch
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  user-select: none;
  z-index: 0;
}

.inpainter.busy {
  cursor: wait !important;
  > :not(.loading-spinner-container) {
    opacity: 0.6;
    filter: blur(2.5px);
  }
}

.inpainter.initializing {
  > :not(.loading-spinner-container) {
    visibility: hidden;
  }
}

body.notono {
  .simplebar-track.simplebar-vertical {
    display: none;
  }
}

.simplebar-track {
  font-size: x-large;
  display: flex;
  justify-content: center;

  &::before {
    font-family: 'FontAwesome';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    content: '\F3c1';
    border-radius: 100%;
    pointer-events: auto;
    cursor: pointer;
  }
  &.scroll-lock::before {
    color: firebrick;
    content: '\F023';
  }

  &.simplebar-horizontal::before {
    height: 1.6em;
    width: fit-content;
    left: calc(-1.8em - 1.5vw);

    padding-right: 0.3em;
    padding-left: 0.3em;
  }

  &.simplebar-vertical::before {
    width: 1.6em;
    height: fit-content;
    top: calc(-1.6em - 1.5vh);

    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 2em;
  }
}

.loading-spinner-container {
  // TODO(@tbazin): remove usage of pointer-events
  pointer-events: none;
}

.inpainter.in-dragdrop-operation::after {
  width: 100%;
  height: 100%;
  background-color: color.scale(black, $alpha: -30%);
}

body.notono,
body.nonoto {
  .simplebar-track.simplebar-vertical::before {
    display: none;
  }
}

img {
  -webkit-user-drag: none;
}

[nexus-ui] select *,
[nexus-ui] input * {
  font-family: fonts.$interface-font-stack !important;
}

[nexus-ui] * {
  font-weight: fonts.$interface-font-weight !important;
}

[nexus-ui] input {
  font-weight: 700 !important;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  height: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';

  @media screen and (max-height: 300px) {
    grid-template-areas:
      'main'
      'footer';
    grid-template-rows: 1fr auto;

    #header {
      display: none;
    }
  }
}

#app > #header {
  grid-area: header;
}

#app > #main-panel {
  grid-area: main;
  overflow: hidden; // ensures the main panel does not push the footer down
}

#app > #bottom-controls {
  grid-area: footer;
}

#header,
#main-panel,
#bottom-controls {
  width: 100vw;
}

#main-panel {
  position: relative !important;
  z-index: 0;
  display: flex;
}

.loading-spinner-container {
  &::before {
    visibility: hidden;
  }
}
.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  pointer-events: none;

  transition: all 0.25s;
  filter: drop-shadow(0px 0px 3px black);
}
.busy .loading-spinner {
  opacity: 1;
}

$trapezoid-perspective-transform: perspective(10px) rotateX(8deg);
$inverse-trapezoid-perspective-transform: perspective(10px) rotateX(-8deg);

#bottom-controls {
  display: grid;
  transform-style: preserve-3D;
  padding-top: calc(#{measures.$expand-tab-height} / 4);
  padding-bottom: 1vh;
  grid-template-columns: repeat(4, 25%);
  align-items: center;
  justify-items: center;
  z-index: 0;

  opacity: 1;

  box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.21);

  text-align: center;

  .expand-tab {
    position: absolute;
    cursor: pointer;
    width: 40%;
    height: measures.$expand-tab-height;
    top: calc(0px - #{measures.$expand-tab-height});
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      height: 100%;
      content: '⬇';
      transform: $inverse-trapezoid-perspective-transform;
    }

    font-size: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    transition-property: top, height, font-size;
    transition-duration: 0.1s;
    animation-timing-function: ease-in;
    left: 50%;
    z-index: -1;
    border-radius: 5px 5px 0 0;

    // translateZ is used to ensure the content is behind the parent container
    // this is required since the parent container creates a stacking context
    // furthermore the Z-axis translation should happen before the trapezoid transform,
    // otherwise it messes up the perspective
    transform: translateZ(-1000px) translate(-50%, 0)
      $trapezoid-perspective-transform;

    @media (hover: hover) {
      // enable show on hover if device supports hovering;
      height: calc(3 * #{measures.$expand-tab-height} / 4);
      top: calc(0px - 3 *#{measures.$expand-tab-height} / 4);
    }

    &:hover {
      font-size: 100%;
      height: measures.$expand-tab-height;
      top: calc(0px - #{measures.$expand-tab-height});
    }
  }
}

body:not(.help-tour-on) .trip-block {
  // ensures the trip-block takes up no space in the layout
  display: none !important;
}

body.help-tour-on {
  .expand-tab {
    // disable advanced controls expansion tab when browsing the help menu,
    // we automatically expand all controls to show the help
    visibility: hidden;
  }
}

body.advanced-controls-disabled {
  #bottom-controls {
    .expand-tab {
      &::before {
        content: '⬆';
      }
    }
  }

  .advanced {
    &,
    .control-item,
    .control-label {
      display: none !important;
    }
  }
}

@media screen and (max-width: 270px) {
  .control-label {
    display: none !important;
  }
}

select {
  font-family: inherit;
  font-weight: bold;
  font-size: large !important;
  text-transform: capitalize;
  text-align-last: center; // see https://stackoverflow.com/a/34532555
}

.grid-auto-column {
  align-items: center;
  justify-items: center;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  row-gap: 5%;
}

.disabled {
  color: lightgray;
  cursor: not-allowed;

  & * {
    pointer-events: none !important;
  }
}

#lfo-controls {
  display: grid;
  width: 40%;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#granularity-select-container--whole-note {
  width: 45%;
}

#edit-tool-select-container--top,
#edit-tool-select-container--bottom {
  width: 60%;
}

.center {
  margin: auto;
}

#bpm-control {
  & svg rect {
    transform: scaleY(0.6);
    y: 25;
    rx: 5;
    ry: 10;
  }
}

.disable-mouse {
  pointer-events: none;
}
