@use "mixins/colors";
@use "mixins/measures";
@use "mixins/fonts";

$CycleSelect-size: 54px;

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: colors.$body-background;
    font-family: fonts.$interface-font-stack;

    // disable blue box over objects on touch
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    user-select: none;

    &.busy {
        cursor: wait !important;

        & #osmd-loading-spinner {
            display: inline-block;
        }
    }
}

[nexus-ui] select *, [nexus-ui] input * {
    font-family: fonts.$interface-font-stack !important;
}

[nexus-ui] * {
    font-weight: fonts.$interface-font-weight !important;
}

[nexus-ui] input {
    font-weight: 700 !important;
}

$main-panel-height: calc(100% - #{measures.$header-height + measures.$bottom-controls-height});
$main-panel-height-advanced-controls: calc(100% - #{measures.$header-height + measures.$bottom-controls-height + measures.$advanced-controls-height});

#main-panel {
    height: $main-panel-height;
    top: measures.$header-height;
    z-index: 0;
}

#osmd-loading-spinner {
    position: absolute;
    top: calc(#{$main-panel-height}/2 + #{measures.$header-height});
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    display: none;
}

#bottom-controls {
    position: absolute;
    display: inline-grid;
    width: 100%;
    height: measures.$bottom-controls-height;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 90px auto;
    align-items: center;
    justify-items: center;

    bottom: 0;
    left: 0;
    opacity: 1;
    background-color: colors.$panes-background;

    box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.21);

    text-align: center;
}

body.advanced-controls #bottom-controls {
    height: measures.$bottom-controls-height + measures.$advanced-controls-height;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 80px 50px 60px;
}

body.advanced-controls #main-panel {
    height: $main-panel-height-advanced-controls;
}

select {
    font-family: inherit;
    font-weight: bold;
    font-size: large !important;
    text-transform: capitalize;
    text-align-last: center;  // see https://stackoverflow.com/a/34532555
}

.two-columns {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 50%;
    width: 100%;

    & .left-column {
        grid-column: 1;
    }

    & .right-column {
        grid-column: 2;
    }
}

.disabled {
    color: lightgray;
    cursor: not-allowed;

    & * {
        pointer-events: none!important;
    }
}

#lfo-controls {
    display: grid;
    width: 40%;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.CycleSelect-container {
    color: colors.$idle-control;

    width: $CycleSelect-size;
    height: $CycleSelect-size;
    border-radius: 64px;
    border-style: solid;
    border-width: thick;

    align-self: center;
    justify-self: center;
}

.CycleSelect-inner-container {
    width: inherit !important;
    height: inherit !important;

    // HACK: invisble border to allow clicking on the border of the selector
    border-radius: 64px;
    border-style: solid;
    border-width: thick;
    border-color: inherit;  // fallback if no opacity support
    border-color: rgba(0, 0, 0, 0);

    top: -5px;
}

#granularity-select-container--whole-note {
    width: 45%;
}

#edit-tool-select-container--top, #edit-tool-select-container--bottom {
    width: 60%;
}

.header {
    padding: 1em;
    position: absolute;
    left: 50%;
}

.center {
    margin: auto
}

#bpm-control {
    & svg rect {
        transform: scaleY(0.6);
        y: 25;
        rx: 5;
        ry: 10;
    }
}