// Stylings specific to the museum version

// Disable clicking CSL icon
// #csl-logo-elem {
//     pointer-events: none!important;
// }

// Disable y-scrolling
[data-simplebar="init"] .simplebar-scroll-content, [data-simplebar="init"] .simplebar-content {
    overflow-y: hidden;
    overflow-x: scroll;
}

.simplebar-scroll-content .simplebar-content {
    overflow-x: scroll;
    overflow-y: hidden;
}

div.trip-block {
    min-width: 400px;
    max-width: 20vw!important;
    border-radius: 15px;
    // background: rgb(247, 247, 247) !important;

    &.e::before {
        border-right-color: black!important;
    }
    &.s::before {
        border-bottom-color: black!important;
    }
    &.n::before {
        border-top-color: black!important;
    }
    &.w::before {
        border-left-color: black!important;
    }
}

div.trip-overlay {
    // disable Trip.js dark overlay
    visibility: hidden;
}

.trip-navigation {
    // increase size of navigation buttons
    font-size: xx-large;

    & a {
        color: black;
        text-decoration: none;
    }
}
