#main-panel {
  pointer-events: auto;

  position: absolute;

  justify-content: center;
  align-content: center;

  &.loading {
    & .simplebar-track {
      // hide scrollbars when osmd is loading
      opacity: 0;
      pointer-events: none;
    }
  }
}

.sheet-inpainter {
  width: 100%;
  .simplebar-wrapper {
    height: 100%;

    .simplebar-content-wrapper {
      height: 100%;
    }
  }

  .inpainter-interface-container {
    width: max-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

.sheet-inpainter-sheet {
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;

  width: 10000000px; // HACK infinite width
}

.zoom-control {
  position: absolute;
  left: 10px;
  top: 1.5vh;
  width: fit-content;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 0.05em;
  border-radius: 40px;
  column-gap: 0.1em;

  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.1));

  div {
    width: fit-content;
    padding: clamp(0.2em, 4vw, 0.5em);
    cursor: pointer;

    text-align: center;
    align-self: center;

    i {
      opacity: 0.8;
      font-size: clamp(1em, min(15vw, 15vh), 1.6em);
    }
    &:hover {
      & {
        opacity: 0.7;
      }
      & i {
        opacity: 1;
      }
    }
  }

  // different padding lengths necessary for centering the icons in the rounded container
  $padding-length: clamp(0.2em, 4vw, 0.5em);
  $small-padding-length: clamp(0.13em, 3vw, 0.3em);
  .zoom-out {
    border-radius: 100% 0 0 100%;
    padding: $padding-length $small-padding-length $small-padding-length
      $padding-length;
  }
  .zoom-in {
    border-radius: 0 100% 100% 0;
    padding: $padding-length $padding-length $small-padding-length
      $small-padding-length;
  }
}
