$chords-font-stack: 'Boogaloo', cursive;

.timeContainer {
  position: absolute;
  pointer-events: auto;

  &.busy {
    &:hover {
      cursor: wait !important;
    }
  }

  &.busy * {
    &:hover {
      cursor: wait !important;
    }
  }

  &.dragover {
    background-color: purple;
  }

  &.dragover .notebox {
    background-color: purple;
  }

  * {
    transition: all 0.15s ease-in-out;
  }
}

.notebox {
  display: block;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 1;

  background-color: #009ceb;

  box-sizing: border-box;
  width: 100%;
  height: calc(100% + 1em);
  top: -0.5em;
  border-radius: 15px;

  &.active {
    display: block;
    opacity: 0.3;
    pointer-events: auto;

    &.busy {
      background-color: grey;
      opacity: 0.2;
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &.playing {
    background-color: #f40081;
    transform: scaleY(1.1);
    border: solid 0.2em;
    border-color: blue;
  }

  &.dragover {
    opacity: 0.7;
  }
}

.Fermata {
  position: absolute;
  pointer-events: auto;
  z-index: 1;
  width: 100%;
  height: 2em; // FIXME(theis, 2021_04_27): hardcoded value
  top: -3.75em;

  box-sizing: border-box;
  border-radius: 15px;
  border: dashed 0.15em;
  border-color: rgba(0, 0, 0, 0.7);

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3) !important;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }

  &.imposed {
    background-color: rgba(0, 0, 0, 0.8) !important;
    cursor: not-allowed;
  }
}

.ChordSelector {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: -4.5em;

  &.active {
    z-index: 3;
  }
}

// set pointer event to pass-through on the <svg> tag containing the selector
.ChordSelector > svg {
  pointer-events: none;
}

.ChordSelector > svg > * {
  pointer-events: auto;
}

.ChordSelector text {
  font-family: $chords-font-stack !important;
}

.ChordSelector tspan {
  // disable undesired behaviour of -webkit-tap-highlight-color tspans catching pointer
  // click events but disappearing right after, leaving with an event with no target
  pointer-events: none;
}

path[id*='-spreader'] {
  z-index: 3;
  background-color: red;
}

// disable text selection in several browsers
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}
