$track-color: #ffc7cf;
$scrollbar-color: #009ceb;

.simplebar-track {
    &.simplebar-vertical {
        pointer-events: none;
        visibility: hidden !important;
    }

    &.simplebar-horizontal {
        border-radius: 20px;
        margin-left: 10%;
        margin-right: 10%;
        height: 30px;
        bottom: 60px;
        background-color: $track-color;

        // prevent visual glitches when updating the sheet where the scrollbar
        // goes beyond the available area
        overflow: hidden;
    }
}

.simplebar-scrollbar {
    pointer-events: auto;
    background-color: $scrollbar-color;
    height: 100% !important;
    border-radius: 20px;
    top: 0 !important;

    &.simplebar-vertical {
        pointer-events: none;
    }

    &:before {
        background: none;
    }

    &:hover {
        cursor: pointer;
        background-color: lighten($scrollbar-color, 20%); // lighter blue // #ffc7cf;  // lighter pink
    }
}
