#spectrogram-container {
    height: 70% !important;
    width: 100vw !important;
    margin: auto;

    top: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;

    &.busy {
        cursor: wait !important;
        & * {
            pointer-events: none !important;
        }
    }
}

#spectrogram-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

#spectrogram-container-interface-container div {
    opacity: 0.3;
}