@use './mixins/measures';
@use './mixins/colors.module';
@use 'sass:color';

// $main-panel-height: calc()
$spectrogram-background-color: #744a86;

$spectrogram-height: 80%;
$spectrogram-height-no-scroll: 90%;

#spectrogram-image-container,
#spectrogram-container-interface-container {
  height: $spectrogram-height;
}

#spectrogram-container.no-scroll {
  & #spectrogram-image-container,
  & #spectrogram-container-interface-container {
    height: $spectrogram-height-no-scroll;
  }
}

#spectrogram-container {
  height: 100%;
  width: 100%;
  margin-left: 0vw; // 5vw;

  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;

  &.busy {
    cursor: wait !important;
    * {
      pointer-events: none !important;
    }
    #spectrogram-container-interface-container span {
      svg * {
        fill: rgba(0, 0, 0, 0.699);
      }
    }
    * {
      background: none;
    }
  }

  background: transparent;
  [nexus-ui] {
    position: absolute;
    left: 0;
  }

  &.no-scroll .simplebar-track.simplebar-horizontal {
    display: none;
    visibility: hidden;
  }

  #snap-points {
    // ensures snap points are within the visible spectrogram image canvas
    // this is required so that they are taken into account
    position: absolute;
    top: 0;
    margin-left: -5vw;
    display: flex;
    height: 1px;
    visibility: hidden;
  }
}

#spectrogram-container.eraser svg {
  cursor: url('../images/eraser-solid.png') 0 18, pointer !important;
}

.simplebar-scroll-content {
  pointer-events: none;
}

.simplebar-track.simplebar-horizontal {
  position: absolute;
}

.simplebar-content-wrapper {
  scroll-snap-type: x mandatory;

  snap {
    scroll-snap-align: start;
    display: inline-flex;
    flex: 1;
    visibility: hidden;
  }
}

#spectrogram-image-container {
  position: absolute;
  width: 100vw;
  top: 5vh;
  pointer-events: none;
}

#spectrogram-picture {
  position: relative;
  left: 5vw;
  filter: blur(2px);

  img {
    background-color: $spectrogram-background-color;
    margin-right: 5vw;
    top: 0;
  }

  > * {
    top: 0;
    position: relative;
    pointer-events: none;
    z-index: -1000;
  }
}

#spectrogram-container-shadow-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

#spectrogram-container-interface-container {
  position: absolute;
  margin-left: measures.$spectrogram-margin-width;
  width: measures.$spectrogram-width !important;
  top: 5vh;
  z-index: 0;

  * {
    transition-property: color, background-color, fill;
    transition-duration: 0.08s;
    transition-timing-function: ease-in-out;
  }

  &:before,
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    width: measures.$spectrogram-margin-width;
    top: 0;
    height: 100%;
    background-size: cover;
    will-change: width;
    backdrop-filter: brightness(1.3) blur(2px);
    transform: perspective(500px);
  }
}

.highlight {
  animation: 500ms ease-in-out 100ms 2 alternate none highlight;
}

@keyframes highlight {
  to {
    opacity: 0.4;
    background-color: white;
  }
}

.simplebar-content {
  height: 100%;
}

// HACK: compensate for scrollbar in Firefox
@-moz-document url-prefix() {
  .ff {
    .simplebar-content {
      margin-top: 4.5px;
    }
  }
}
