@use 'mixins/colors.module';

#configuration-selection {
  display: grid;

  width: 65%;

  grid-template-columns: 100%;
  grid-row-gap: 1vh;
  justify-items: center;

  padding: 2em;

  margin-left: auto;
  margin-right: auto;

  * {
    text-align: center;
  }

  .control-item {
    max-width: 10em;
  }

  input {
    font-size: 100%;
    height: 3vh;
    text-align: center;

    &.wrong-input-setting {
      background-color: lightcoral;
    }
  }

  // TODO(@tbazin, 2021/11/04): brute-force way of setting properties
  // of the different settings container elements
  div {
    display: grid;
    justify-items: center;
    grid-column-gap: 3vw;
    column-gap: 3vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
  }

  &.no-server-config #server-address-input {
      visibility: hidden;
  }
}

.centeredXY {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#server-configuration-container {
  width: 100%;
  &::before {
    content: 'Server configuration';
    width: 100%;
  }
}

#server-configuration {
  display: grid;

  & input {
    width: 60% !important;
    height: 2rem;
  }

  width: 100%;

  * {
    width: 100%;
  }
}

#mode-configuration-container {
  &::before {
    content: 'Interface mode';
    display: inline-block;
    width: 100%;
  }

  display: grid;
  width: 100%;

  #mode-configuration {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    width: 100%;

    @media screen and (max-width: 500px) {
      margin: auto;
    }

    & * {
      text-align: center;
      width: 100% !important;
      height: inherit !important;
      font-size: 100% !important;
    }
  }
}

#start-button {
  width: 100% !important;
  height: 100% !important;
}

#application-mode-select {
  display: none;
}
