@use 'mixins/colors.module';

#configuration-selection {
  display: grid;

  width: 65vw;

  grid-template-columns: 100%;
  grid-row-gap: 3vh;
  justify-items: center;

  padding: 2em;

  margin-left: auto;
  margin-right: auto;

  & * {
    text-align: center;
  }

  > * * {
    width: inherit !important;
  }

  > .control-item {
    max-width: 10em;
  }

  & input {
    font-size: 2vw;
    @media screen and (max-width: 800px) {
      font-size: 15px;
    }
    height: 3vh;
    text-align: center;
  }

  & > div {
    display: grid;
    justify-items: center;
    grid-column-gap: 3vw;
    column-gap: 3vw;
    grid-row-gap: 1vh;
    row-gap: 1vh;
  }

  &.no-server-config #server-address-input {
      visibility: hidden;
  }
}
.centeredXY {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#server-configuration {
  &:before {
    grid-row: 1;
    content: 'Server configuration';
    grid-column: 1/-1;
    width: 100%;
  }

  display: grid;

  & input {
    width: 60% !important;
    height: 2rem;
  }

  width: 100%;
}

#mode-configuration {
  &:before {
    content: 'Interface mode';
    grid-column: 1/-1;
    display: inline-block;
    width: 100%;
  }

  display: grid;

  width: 100%;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    margin: auto;
  }

  @media screen and (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(4, 1fr);
  }

  & * {
    text-align: center;
    width: inherit !important;
    height: inherit !important;
    font-size: 100% !important;
  }
}

#start-button {
  width: 100% !important;
  height: 100% !important;
}

#application-mode-select {
  display: none;
}
