@use 'mixins/measures';
@use 'mixins/colors.module';
@use 'mixins/interfaces';
// Styling for the icon-based select element

.pulsing {
  animation: 0.2s pulse none 4 alternate;
}

.cycleSelect {
  @include interfaces.roundedSquareBox;
  font-size: calc(#{measures.$cycleSelect-size} / 2.5);

  position: relative;
  cursor: pointer;
  width: measures.$cycleSelect-size;
  height: measures.$cycleSelect-size;
  transform: scale(0.85);

  select {
    display: none;
  }

  .cycleSelect--interactive-element {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: inherit;
    position: absolute;
    top: calc(-#{interfaces.$roundedSquareBox-border-width});
    left: calc(-#{interfaces.$roundedSquareBox-border-width});
    opacity: 0;
    z-index: 1;
  }

  &.cycleSelect-disabled {
    @include interfaces.hiddenControl;
    cursor: not-allowed !important;
    .cycleSelect--interactive-element {
      pointer-events: none !important;
    }
  }
}

.cycleSelect > * {
  transition: opacity 0.07s linear;
  position: absolute;
  align-self: center;

  width: 70%;

  opacity: 0;

  &.cycleSelect-currentValue {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }
}
