@use 'mixins/colors.module';

.help-icon {
  top: 1.5vh;
  right: 10px;
  position: absolute;
  justify-self: right;
  align-self: inherit;
  cursor: pointer;
  font-size: 2.1em;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}

.shepherd-text {
  text-align: justify;
  font-weight: 400;
  font-size: min(1rem, 1.7vmax);
}

.shepherd-progress-steps {
  border-top-width: 0px;
  border-color: gray !important;

  @media screen and (max-width: 500px), screen and (max-height: 300px) {
    display: none !important;
  }
}

.shepherd-header {
  h3 {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  // font-size: max(1em, min(3vw, 4vh, 1.3em));
  border-bottom: thin solid gray;
}

.shepherd-element {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0);
}

.shepherd-hidden {
  opacity: 50% !important;
}

.shepherd-close {
  font-size: large !important;
}

.shepherd-header {
  padding: 0.5rem !important;
}

.shepherd-header h3,
.shepherd-cancel-icon {
  font-size: min(1.5rem, 3vmax);
}
.shepherd-footer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 0.75rem;
  border-top: thin solid rgba(128, 128, 128, 0.487);
}

.shepherd-title {
  width: 70%;
}

.shepherd-button {
  font-size: min(1.3rem, 2vmax, 6vmin);
  padding: 0.5rem 0rem;
}
.shepherd-modal-overlay-container.shepherd-modal-is-visible {
  opacity: 0.8;
}
