.sheet-inpainter {
  width: 100%;
  .simplebar-wrapper {
    height: 100%;

    .simplebar-content-wrapper {
      height: 100%;
    }
  }

  .inpainter-interface-container {
    width: max-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

.sheet-inpainter-sheet {
  z-index: 0;
  width: 10000000px; // HACK infinite width
  margin-left: auto;
  margin-right: auto;

  pointer-events: none;
  * {
    pointer-events: none;
  }
}

$zoom-border-radius: 5px;
.zoom-control {
  position: absolute;
  left: 10px;
  top: 1.5vh;
  width: fit-content;
}
.fullscreen-control {
  position: absolute;
  right: 10px;
  bottom: 1.5vh;
  width: fit-content;
}

.zoom-control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3px;
  justify-items: center;
}

.zoom-control,
.fullscreen-control {
  padding: 3px 5px;
  border-radius: calc(#{$zoom-border-radius} / 2);

  &:hover {
    opacity: 1;
  }

  $zoom-icon-size: 40px;
  div {
    width: $zoom-icon-size;
    cursor: pointer;

    text-align: center;
    align-self: center;

    i {
      font-size: $zoom-icon-size;
    }
    &:hover i {
      filter: brightness(1.15);
    }
  }

  // different padding lengths necessary for centering the icons in the rounded container
  $padding-length: clamp(0.2em, 4vw, 0.5em);
  .zoom-out {
    border-radius: $zoom-border-radius 0 0 $zoom-border-radius;
    padding: $padding-length;
  }
  .zoom-in {
    border-radius: 0 $zoom-border-radius $zoom-border-radius 0;
    padding: $padding-length;
  }
}
