$roundedSquareBox-border-width: 2px;
@mixin roundedSquareBox {
  border-radius: 10%;
  border-style: solid;
  border-width: $roundedSquareBox-border-width;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-content: center;
}

@mixin hiddenControl {
  filter: blur(2px) opacity(0.3) grayscale(0.25);
  &,
  * {
    pointer-events: none;
  }
  &:focus,
  &:focus-within {
    visibility: hidden;
  }
}
