$header-height: min(8vh, 20vw);
$bottom-controls-height: 140px;
$advanced-controls-height: 70px;

$expand-tab-container-height: clamp(20px, 3vh, 35px);

$spectrogram-width: 90%;
$spectrogram-margin-width: 5vw;

$cycleSelect-size: min(calc(30px + 1.5vw), calc(30px + 2vh), 54px);

$main-area-additional-controls-vertical-offset: 1.5vh;
$main-area-additional-controls-horizontal-offset: min(10px, 1.5vw);
